/*root and set vars for all the colors used*/
:root {
  --board-color: antiquewhite;
  --board-border-color: #13eea5;
  --nav-main-color: #333;
  --nav-hover-color: #959998;
  --black: black;
  --nav-a-color: #fff;
  --nav-a-background-color: #ddd;
  --nav-a-active-color: #4CAF50;
  --dropdown-content-background-color: #f9f9f9;
}



#board {
    margin: 10px 10px;
}
#board td {
    border: 1px solid var(--board-border-color);
    text-align: center;
    vertical-align: middle;
    height: 6px;
    width: 6px;
    font-weight: bold;
    overflow: hidden;
    background-color: var(--board-color);
}
#container {
    display: flex;
    justify-content: center;
    background-color: black;
}
#controller{
    text-align: center;
    background-color: var(--board-color);
    display: none;
}
/*navigation bar*/
.navbar {
    overflow: hidden;
    background-color: var(--nav-main-color);
    font-family: Arial, Helvetica, sans-serif;
}
.navbar a {
    float: left;
    font-size: 16px;
    color: var(--nav-a-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: var(--nav-a-background-color);
    color: var(--black);
}
.navbar a.active {
    background-color: var(--nav-a-active-color);
    color: white;
}
/*place counter to the end of navigation bar*/
.counter {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-right: 20px;
}
/*end of navigation bar*/
body {
    margin: 0;
    font-size: 0.01px;
}
/*Dropdown menu*/
.dropbtn {
    background-color: var(--nav-main-color);
    margin: 2px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: fixed;
    background-color: var(--dropdown-content-background-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.dropdown-content a:hover {background-color: var(--nav-hover-color)}
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}
.dropdown:hover .dropbtn {
    background-color: var(--nav-hover-color);
}
/*
<div class="dropdown">
                <button class="dropbtn">Color
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <!--dropdown menu in dropdown menu-->
                    <div class="sub-dropdown">
                        <button class="sub-dropbtn">Wall
                            <div class="sub-dropdown-content">
                                <a id="wall-color-1">Color 1</a>
                                <a id="wall-color-2">Color 2</a>
                                <a id="wall-color-3">Color 3</a>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
*/
.sub-dropdown {
    position: relative;
    display: inline-block;
}
.sub-dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    /*the length should take the whole space*/
    text-align: center;
    width: 100%;
}
/*sub-dropdown-content should display a bit to the right and next to sub-dropbtn*/
.sub-dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dropdown-content-background-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 100%;
    top: 0;
}
.sub-dropdown-content a {
    color: var(--black);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.sub-dropdown-content a:hover {background-color: var(--nav-hover-color)}
.sub-dropdown:hover .sub-dropdown-content {
    display: flex;
    flex-direction: column;
}
.sub-dropdown:hover .sub-dropbtn {
    background-color: var(--nav-hover-color);
}
/*end of dropdown menu*/

/*Toast Box*/
.center {
    text-align: center;
}
#toast{
    position: fixed;
    z-index: 1;
    background-color: bisque;
    color: #3e8e41;
    left: 48vw;
    margin-top: 5vh;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    visibility: hidden;
}
#toast .show{
    visibility: visible;
    -webkit-animation: fade-in 0.5s, fade-out 0.5s 2.5s;
    animation: fade-in 0.5s, fade-out 0.5s 2.5s;
}
@-webkit-keyframes fade-in{
    from {top:0; opacity: 0;}
    to {top: 5vh; opacity: 1;}
}
@keyframes fade-in {
    from {top:0; opacity: 0;}
    to {top: 5vh; opacity: 1;}
}
@-webkit-keyframes fade-out{
    from {top:5vh; opacity: 1;}
    to {top: 0; opacity: 0;}
}
@keyframes fade-out {
    from {top:5vh; opacity: 1;}
    to {top: 0; opacity: 0;}
}

/*end of toast box*/
.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
  }
  body::-webkit-scrollbar-thumb {
    background-color: white;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid black;  /* creates padding around scroll thumb */
  }